# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (unused, kept for hygiene)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/